#gridWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}
#formWrapper {
  height: 100%;
  width: 35%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  background: lightblue;
}
#formWrapper > form {
  height: 50%;
  width: 90%;
  background: rgb(255, 252, 252);
  border-radius: 15px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}
form > input {
  margin-bottom: 25px;
  border-radius: 15px;
  width: 75%;
  text-align: center;
  height: 25px;
}
form > button {
  width: 75%;
  border-radius: 15px;
  height: 25px;
}
#cardWrapper {
  grid-area: m;
  height: 100%;
  width: 65%;
  display: flex;
  flex-flow: row wrap;
  overflow: hidden;
  justify-content: space-evenly;
  background: lightblue;
  overflow-y: scroll;
}

.card {
  height: 150px;
  width: 200px;
  border: solid 1px black;
  border-radius: 15px;
  margin: 15px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-evenly;
  background: rgb(255, 252, 252);
}
/* .card > button {
  width: 75%;
  border-radius: 15px;
} */
#buttonDiv {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.deleteButton {
  width: 15%;
  border: solid 1px black;
  border-radius: 15px;
  background: rgb(243, 83, 83);
  color: white;
}

.editButton {
  width: 25%;
  border: solid 1px black;
  border-radius: 15px;
  background: rgb(73, 104, 116);
  color: white;
}
