<div id="gridWrapper">
  <div id="formWrapper">
    <!-- <button *ngIf="!showPostForm" (click)="togglePostForm()">Add Person</button> -->
    <form
      *ngIf="!showPostForm"
      #postForm="ngForm"
      (ngSubmit)="[addCartItem(postForm), togglePostForm()]"
    >
      <h2>Add in a new item</h2>
      <label for="product">Add Product Name:</label>
      <input
        type="text"
        name="product"
        id="product"
        ngModel
        placeholder="Name of Product?"
      />
      <label for="price">Price of Item:</label>
      <input
        type="text"
        name="price"
        id="price"
        ngModel
        placeholder="Price of Item"
      />
      <label for="quantity">Quantity of Item:</label>
      <input
        type="text"
        name="quantity"
        id="quantity"
        ngModel
        placeholder="How many?"
      />
      <button type="submit">Submit</button>
    </form>
  </div>

  <form
    *ngIf="showEditForm"
    #editForm="ngForm"
    (ngSubmit)="[updateItem(editForm, itemToEdit.id), toggleEditForm()]"
  >
    <h1>Edit Item Amount!!!</h1>

    <input
      type="number"
      name="quantity"
      [ngModel]="itemToEdit.quantity"
      placeholder="quantity"
    />
    <button>Edit Amount</button>
  </form>
  <!-- (click)="toggleEditForm() -->

  <div id="cardWrapper">
    <div *ngFor="let item of shoppingCart; index as i" class="card">
      <p>Product: {{ item.product }}</p>
      <p>Price: {{ item.price }}</p>
      <p>Quantity: {{ item.quantity }}</p>
      <div id="buttonDiv">
        <button (click)="deleteItem(item.id)" class="deleteButton">X</button>
        <button
          (click)="[toggleEditForm(), setItemToEdit(item)]"
          class="editButton"
        >
          Edit
        </button>
      </div>
    </div>
  </div>
</div>

<!-- (click)="deleteItem(item.id)" -->
